<%= form_tag('', method: :get) do %>
  <button class="wg-external-submit-button btn btn-default" data-grid-name="grid">Submit</button>
  <button class="wg-external-reset-button btn btn-default" data-grid-name="grid">Reset</button>

  <%= grid(@vacancies_grid, hide_submit_button: true, hide_reset_button: true) do |g|

    g.column name: 'Speciality', attribute: 'speciality_id', custom_filter: Speciality.all.map { |sp| [sp.name, sp.id] } do |vacancy|
      vacancy.speciality.name
    end

    g.column name: 'Vacancy', attribute: 'title'  do |vacancy|
      link_to vacancy.title, current_user && current_user.has_role?(:applicant) ? edit_vacancy_path(vacancy) : vacancy
    end

    g.column name: 'Company', attribute: 'company_id', custom_filter: Company.all.map { |c| [c.name, c.id] } do |vacancy|
      vacancy.company.name
    end

    g.column name: 'Responses' do |vacancy|
      vacancy.responses.count
    end

    g.column name: 'Deadline' do |vacancy|
      vacancy.deadline
    end

  end -%>
<% end -%>
