<div class="header">
  <h1 >
    <%= @company.name %>
  </h1>
  <h3>
    <%= @company.city.country.country %>,
    <%= @company.city.city %>
  </h3>
  <p>
    <%= @company.description %>
  </p>
</div>
