<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Job_platform', root_url, id: "logo" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Vacancies', vacancies_path %>
        </li>
        <li>
          <%= link_to 'Applicants', '#' %>
        </li>
        <li>
          <%= link_to 'Companies', companies_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
